<!-- Page Sidebar Start-->
<div class="logo-wrapper">
  <a routerLink='/'>
    <h3 class="text-white"> SKINLOT</h3>
  </a>
</div>
<div class="logo-icon-wrapper">
  <a href="javascript:void(0)">
    <img class="img-fluid" src="assets/images/logo/logo-icon.png" alt="">
  </a>
</div>
<nav class="sidebar-main">
  <div class="left-arrow" id="left-arrow" [class.d-none]="leftArrowNone" (click)="scrollToLeft()">
    <app-feather-icons [icon]="'arrow-left'"></app-feather-icons>
  </div>
  <div id="sidebar-menu"
    [ngStyle]="{ marginLeft : this.layout.config.settings.sidebar.type == 'horizontal-wrapper' ? margin + 'px' : '0px'}">
    <ul class="sidebar-links custom-scrollbar" [style.overflow]="'hidden'">
      <li class="sidebar-main-title" *ngFor="let item of stream; index as i">
        <div>
          <h6 class="lan-1">Case {{ item | translate}}</h6>
          <img src="/assets/images/cases/case{{item % 4}}.png" alt="" [style.height.px]="100" [style.width]="'80%'" />
        </div>

      </li>
    </ul>
  </div>
  <div class="right-arrow" id="right-arrow" [class.d-none]="rightArrowNone" (click)="scrollToRight()">
    <app-feather-icons [icon]="'arrow-right'"></app-feather-icons>
  </div>
</nav>