<div class="container-fluid pt-4">
    <div class="row second-chart-list third-news-update">

        <div class="col-xl-6 xl-50 appointment box-col-6">
            <div class="card">
                <div class="card-header">
                    <div class="header-top">
                        <h5 class="m-0">Items Obtained</h5>
                        <div class="card-header-right-icon">
                            <select class="button btn btn-primary">
                                <option>Year</option>
                                <option>Month</option>
                                <option>Day</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-Body">
                    <div class="radar-chart">
                        <div id="marketchart">
                            <apx-chart [chart]='marketValue.chart' [series]='marketValue.series'
                                [stroke]='marketValue.stroke' [labels]='marketValue.labels'
                                [plotOptions]='marketValue.plotOptions' [colors]='marketValue.colors'
                                [markers]='marketValue.markers' [tooltip]='marketValue.tooltip'
                                [yaxis]='marketValue.yaxis'></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 xl-50 dashboard-sec box-col-6">
            <div class="card earning-card">
                <div class="card-body p-0">
                    <div class="row m-0">
                        <div class="col-xl-3 earning-content p-0">
                            <div class="row m-0 chart-left">
                                <div class="col-xl-12 p-0 left_side_earning">
                                    <h5>Dashboard</h5>
                                    <p class="font-roboto">Overview of last month</p>
                                </div>
                                <div class="col-xl-12 p-0 left_side_earning">
                                    <h5> 405 </h5>
                                    <p class="font-roboto">This Month Opened Cases</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 p-0">
                            <div class="chart-right">
                                <div class="row m-0 p-tb">
                                    <div class="col-xl-8 col-md-8 col-sm-8 col-12 p-0">
                                        <div class="inner-top-left">
                                            <ul class="d-flex list-unstyled">
                                                <li>Daily</li>
                                                <li class="active">Weekly</li>
                                                <li>Monthly</li>
                                                <li>Yearly</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 p-0 justify-content-end">
                                        <div class="inner-top-right">
                                            <ul class="d-flex list-unstyled justify-content-end">
                                                <li>Online</li>
                                                <li>Store</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card-body p-0">
                                            <div class="current-sale-container">
                                                <div id="chart-currently">
                                                    <apx-chart [series]='currentSales.series'
                                                        [chart]='currentSales.chart'
                                                        [dataLabels]='currentSales.dataLabels'
                                                        [stroke]='currentSales.stroke' [xaxis]='currentSales.xaxis'
                                                        [markers]='currentSales.markers' [yaxis]='currentSales.yaxis'
                                                        [grid]='currentSales.grid' [colors]='currentSales.colors'
                                                        [fill]='currentSales.fill' [legend]='currentSales.legend'
                                                        [tooltip]='currentSales.tooltip'>
                                                    </apx-chart>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-4 col-xl-12 xl-100 dashboard-sec box-col-12">
            <h3 class="text-center"><span class="p-5">Most Popular</span></h3>
            <ul infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="80" [scrollWindow]="false"
                [horizontal]="true" (scrolled)="onScroll()" class=" search-results list-group list-group-horizontal">
                <li class="list-group-item p-auto m-3" *ngFor="let item of cards; index as i">
                    <img src="/assets/images/cases/case{{(i + 2) % 4}}.png" alt="" [style.heigth.px]="150" />
                </li>
            </ul>
        </div>
        <div class="pt-4 col-xl-12 xl-100 dashboard-sec box-col-12">
            <h3 class="text-center"><span class="p-5">Offer Sales</span></h3>
            <ul infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="80" [scrollWindow]="false"
                [horizontal]="true" (scrolled)="onScroll()" class=" search-results list-group list-group-horizontal">
                <li class="list-group-item p-auto m-3" *ngFor="let item of cards; index as i">
                    <img src="/assets/images/cases/case{{i % 4}}.png" alt="" [style.heigth.px]="150" />
                </li>
            </ul>
        </div>
    </div>
</div>