.search-results{
    height: auto;
    width: 100%;
    overflow-x: scroll;
}
.search-results::-webkit-scrollbar {
    display: none;
  }
.search-results {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.list-group img{
    width: 130px;
    height: 100px;
}
