<div class="media profile-media">
  <img class="b-r-10" src="assets/images/dashboard/profile.jpg" alt="">
  <div class="media-body"><span>Emay Walter</span>
    <p class="mb-0 font-roboto">Steam User</p>
  </div>
</div>
